<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>AMapServicesApiKey</key>
	<string>026ccdebc467187b9357bd2e72a0e217</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME)需要您的同意，才能访问位置</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME)需要您的同意，才能持续访问位置</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME)需要您的同意，才能在使用期间和后台访问位置</string>
	<key>NSLocationUsageDescription</key>
	<string>$(PRODUCT_NAME)需要您的同意，才能使用位置服务</string>
	<key>NSPrivacyLocationUsageDescription</key>
	<string>$(PRODUCT_NAME)需要您的同意，才能使用位置服务</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>提供更好的服务</key>
		<string>需要您的同意，以便提供更好的服务</string>
	</dict>
</dict>
</plist>
